<h2 mat-dialog-title>Políticas de Privacidade</h2>
<mat-dialog-content class="mat-typography">
  <br>
  <h3>O que são cookies?</h3>
  <p>Quando você visita o nosso site, usamos cookies e tecnologias semelhantes que registram determinadas informações para reconhecê-lo em outros dispositivos e sites.</p>
  <p>Um cookie nada mais é que um pequeno arquivo de texto que contém uma etiqueta de identificação exclusiva, colocada no seu computador, tablet, celular ou outro dispositivo (“dispositivo(s)”) por um site, para lembrar informações sobre você, como sua preferência de idioma ou informações de login. Esses cookies são definidos por nós e chamados de cookies primários. Também usamos cookies de terceiros – que são cookies de um domínio diferente do domínio do site que você está visitando – para nossos esforços de publicidade e marketing.</p>
  <p>Web beacons são pequenas sequências de código que fornecem uma maneira de entregar uma pequena imagem gráfica (geralmente invisível) em uma página da web ou em um e-mail. Os web beacons podem reconhecer certos tipos de informações em seu computador, como cookies, a hora e a data em que uma página é visualizada e uma descrição da página onde o web beacon é colocado.</p>
  <br>
  <h3>Cookies necessários</h3>
  <p>São fundamentais para as funções básicas de navegação do nosso site. Sem os cookies necessários o nosso site ou alguma de suas funcionalidades não opera corretamente, prejudicando a navegação.</p>
  <p>Utilizamos cookies necessários para distinguir humanos e bots; identificar se o seu navegador suporta cookies; implementar formulários em nosso site.</p>
  <br>
  <h3>Cookies funcionais</h3>
  <p>Nos permitem relembrar as suas preferências, como o autopreenchimento de campos do site, de forma que não seja necessário voltar e configurar o site a cada vez que o visita. Eles podem ser definidos por nós ou por terceiros cujos serviços adicionamos às nossas páginas.</p>
  <p>Utilizamos cookies funcionais para que o nosso site lembre-se do seu idioma de preferência e versão do website.</p>
  <br>
  <h3>Cookies Analíticos</h3>
  <p>Esses cookies nos permitem contar visitas e fontes de tráfego para que possamos medir e melhorar o desempenho do nosso site. Eles nos ajudam a saber quais páginas são as mais e menos populares e ver como os visitantes se movimentam pelo site. Todas as informações que esses cookies coletam são agregadas e, portanto, anônimas.</p>
  <p>Utilizamos cookies analíticos para definir um ID único para a sessão; coletar dados sobre o número de vezes que um usuário visitou o site, bem como datas da primeira e mais recente visita; para contar quantas vezes o nosso site foi visitado por diferentes visitantes; para identificar se um visitante é novo em nosso site, ou se já o visitou antes; para entender o comportamento em nosso site, como, por exemplo, quais páginas foram visitadas e a média de tempo gasto em cada página; dentre outras finalidades.</p>
  <br>
  <h3>Cookies de Marketing</h3>
  <p>São utilizados para fornecer ao usuário conteúdo do seu interesse, e podem ser configurados em nosso site por nossos parceiros de publicidade. A partir deles, podemos direcionar a publicidade com maior assertividade. Eles também nos ajudam a coletar dados consolidados para fins de pesquisas e relatórios de desempenho para anunciantes.</p>
  <p>Utilizamos cookies de marketing, de maneira geral, para determinar o número de visitantes que acessam o nosso site através do conteúdo de publicidade de uma aplicação/site de terceiros e registrar e relatar as ações do usuário do site após visualização ou clique em um dos anúncios em plataformas terceiras, com o objetivo de mensurar a eficácia de um anúncio e apresentar anúncios direcionados ao usuário.</p>
  <br>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>