.under:hover {
    cursor: pointer;
    color: #000;
    text-decoration: underline;
}

.g-content {
    background-color: #FFF;
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 130px;
    padding-left: 10px;
    padding-right: 10px;
}

.email {
    font-size: 21px !important;
}

.text-center {
    justify-content: center !important;
    text-align: center;
}

.g-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.g-contato {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.g-info,
.g-info-copy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.g-info:last-child,
.g-info-copy:last-child {
    justify-content: flex-start;
}

.info a, .info p {
    color: #424245;
    border-right: 1px solid #424245;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 15px;
    text-decoration: none;
    color: #424245;
}

.info:nth-child(1) a,.info:nth-child(1) p {
    padding-left: 0px;
}

.info:last-child a, .info:last-child p {
    border-right: 0px solid #424245;
}

.info a:hover, .info p:hover {
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

.hr {
    border-top: 1px solid #dfdfdf;
    padding: 5px 0;
    margin: 5px 0;
}

.copy {
    font-size: 1em;
    color: #6e6e73;
    padding: 10px 0;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
}

.g-redes ul li {
    list-style: none;
    font-size: 20px;
    font-weight: 400;
}

.p15 {
    padding-bottom: 15px;
}

.g-redes ul li:hover {
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: #6e6e73;
}

.g-more-informe {
    max-width: 1240px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.cp {
    padding: 0;
    height: 500px;
    display: flex;
    background-color: #222222;

    span:first-child {
        font-size: 189px;
        top: -33px;
        left: -3px;
        position: relative;
        font-weight: bold;
        color: #939393;
    }

    span:last-child {
        -webkit-text-stroke: 1px #fff;
        font-size: 72px;
        color: #000;
    }

    @media (max-width: 1400px) {
        span:first-child {
            font-size: 70px;
            top: -12px;
        }

        span:last-child {
            font-size: 42px;
        }
    }
}

@media (max-width: 1200px) {
    .cp {
        flex-direction: column;
    }

    .info a, .info p {
        font-size: 13px;
    }

    .g-info-copy {
        flex-direction: column;
    }
}

.g-gradient {
    background: linear-gradient(228deg, #ff5454, #54ff79, #5485ff, #ba54ff, #ff54bc, #ecff54, #dfdfdf, #0c96b6, #0cb647, #970cb6);
    background-size: 2200% 2200%;
    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    -o-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 54%
    }

    50% {
        background-position: 100% 47%
    }

    100% {
        background-position: 0% 54%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 54%
    }

    50% {
        background-position: 100% 47%
    }

    100% {
        background-position: 0% 54%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 54%
    }

    50% {
        background-position: 100% 47%
    }

    100% {
        background-position: 0% 54%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 54%
    }

    50% {
        background-position: 100% 47%
    }

    100% {
        background-position: 0% 54%
    }
}