<section>
    <footer>
        <div class="g-gradient">&nbsp;</div>
        <div class="cp">
            <span>
                cloud <br> computing
            </span>
            <span>
                computação em nuvem
            </span>
        </div>
        <div class="g-gradient">&nbsp;</div>
        <div class="g-h-content">&nbsp;</div>
        <div class="g-content g-flex">
            <div class="g-contato">
                <div class="copy under email">
                    contato@guilmor.com
                </div>
                <div class="copy under">
                    Porto Alegre
                    <br>
                    Rio Grande do Sul
                </div>
            </div>
            <div class="g-redes">
                <ul>
                    <li><a title="Instagram" href="https://www.instagram.com/guilmor_softwares/" target="_blank" title="GUILMOR - INSTAGRAM">Instagram</a>
                </ul>
            </div>
        </div>
        <div class="g-more-informe">
            <div class="hr"></div>
            <div class="g-info-copy">
                <div class="copy">Copyright © {{ ano }} GUILMOR. Todos os direitos reservados.</div>
            </div>
            <div class="g-info">
                <div class="info"><p title="Home do site" routerLink="/" (click)="scrollToTop()">Home</p></div>
                <div class="info"><p title="Sobre do site" routerLink="/sobre" (click)="scrollToTop()">Sobre</p></div>
                <div class="info"><p title="Contato do site" routerLink="/contato" (click)="scrollToTop()">Contato</p></div>
                <div class="info" (click)="openDialogPrivacyPolicy()"><p title="Política de Privacidade">Política de Privacidade</p></div>
            </div>
        </div>
    </footer>
</section>
