<section>
    <footer>
        <div class="cp">
            <span>
                cloud <br> computing
            </span>
            <span>
                computação em nuvem
            </span>
        </div>
        <div class="g-gradient">&nbsp;</div>
        <div class="g-h-content">&nbsp;</div>
        <div class="g-content g-flex">
            <div class="g-contato">
                <div class="copy under email">
                    GUILMOR - Soluções em Softwares
                </div>

                <div class="copy under email">
                    contato@guilmor.com
                </div>
                <div class="copy under">
                    Porto Alegre
                        <br>
                    Rio Grande do Sul
                </div>
                <div class="copy under">
                    Brasil
                </div>
            </div>
            <div class="g-redes">
                <ul>
                    <!-- <li class="p15"><a title="GUILMOT - TWITTER">&nbsp;</a></li> -->
                    <li class="p15"><a href="https://www.linkedin.com/company/guilmorsoftwares/" target="_blank" title="GUILMOR - LINKDIN">Linkedin</a></li>
                    <li><a href="https://www.instagram.com/guilmor_softwares/   " target="_blank" title="GUILMOR - INSTAGRAM">Instagram</a>
                </ul>
            </div>
        </div>
        <div class="g-more-informe">
            <div class="hr"></div>
            <div class="g-contato text-center">
                <div class="copy">Copyright © {{ ano }} GUILMOR. Todos os direitos reservados.</div>
                <div class="copy">created by @ <a class="under " target="_blank" href="https://www.linkedin.com/in/guglieelmor/">Guilherme Oliveira</a>.</div>
            </div>
        </div>
    </footer>
</section>