*{
    background-color: #000;
}

.loader{
    height: 100vh;
}
.loader{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: fixed;

    .w1{
        height: 49vh;
    }
    .divider{
        height: 1vh;
        background-color: #FFF;
        animation: identifier 3s ease 1 alternate;
    }
    .w2{
        height: 50vh;
    }

    @keyframes identifier {
        from{
            width: 1%;
            background-color: #000;
        }
        to{
            width: 100%;
            background-color: #FFF;
        }
    }
   
}

.out{
    animation: noneloader 0.5s ease 1s 1 alternate;
    animation-fill-mode: forwards;
    margin: 0 auto;
 

    @keyframes noneloader {
        to{
            width: 0vw;
            margin: 0 auto;
            opacity: 0;
        }
    }
   
    .w1{
        animation: nonew1 0.9s linear 1 alternate;
        animation-fill-mode: forwards;
    }

    @keyframes nonew1 {
        from{
            height: 49vh;
        }
        to{
            height: 0vh;
        }
    }

    
    .divider{
        animation: expanddivider 1s ease 1 alternate;
        animation-fill-mode: forwards; 
    }
    
    @keyframes expanddivider {
        from{
            height: 0vh;
        }
        to{
            height: 100vh;
        }
    }
    
    .w2{
        animation: nonew2 0.9s linear 1 alternate;
        animation-fill-mode: forwards; 
    }

    @keyframes nonew2 {
        from{
            height: 50vh;
        }
        to{
            height: 0vh;
        }
    }

}