<section>
    <div class="g-grid-content">
        <div class="g-grid">
            <div class="d-flex">
                <span class="d-item" data-aos="fade-in" data-aos-duration="2000">Web Development</span>
                <p class="d-item" data-aos="fade-right">Especializada em serviços de desenvolvimento web personalizados.
                    Com sua abordagem centrada no cliente, a <b>GUILMOR</b> fornece soluções escaláveis e de alta
                    qualidade para melhorar a presença online de seus clientes.</p>
            </div>
        </div>
        <div class="g-boxs">
            <div data-aos="fade-right" data-aos-duration="3000" class="g-box"></div>
            <div data-aos="fade-left" data-aos-duration="3000" class="g-box"></div>
            <div data-aos="fade-up-right" data-aos-duration="3000" class="g-box"></div>
            <div data-aos="fade-up-left" data-aos-duration="3000" class="g-box"></div>
            <div data-aos="fade-down-right" data-aos-duration="3000" class="g-box g-gradient"></div>
        </div>
        <div class="g-grid">
            <div class="d-flex">
                <span data-aos="fade-in" data-aos-duration="2000">Mobile Development</span>
                <p class="d-item" data-aos="fade-right">Com uma equipe altamente qualificada de profissionais
                    experientes em programação e design, a <b>GUILMOR</b> está comprometida em fornecer serviços
                    centrados no cliente para melhorar o engajamento do usuário e a produtividade do negócio de seus
                    clientes.</p>
            </div>
        </div>
        <div class="g-boxs">
            <div data-aos="fade-right" data-aos-duration="3000" class="g-bol"></div>
            <div data-aos="fade-left" data-aos-duration="3000" class="g-bol"></div>
            <div data-aos="fade-up-right" data-aos-duration="3000" class="g-bol"></div>
            <div data-aos="fade-up-left" data-aos-duration="3000" class="g-bol"></div>
            <div data-aos="fade-down-right" data-aos-duration="3000" class="g-bol g-gradient"></div>
        </div>
    </div>
</section>