<section>
    <div class="g-grid-content">
        <div class="g-grid">
            <div class="d-flex"> 
                <span data-aos="fade-in" data-aos-duration="2000">Web Development</span>
                <p></p>   
            </div>
        </div>
        <div class="g-boxs">
            <div data-aos="fade-right" data-aos-duration="3000" class="g-box"></div>
            <div data-aos="fade-left" data-aos-duration="3000" class="g-box"></div>
            <div data-aos="fade-up-right" data-aos-duration="3000" class="g-box"></div>
            <div data-aos="fade-up-left" data-aos-duration="3000" class="g-box"></div>
            <div data-aos="fade-down-right" data-aos-duration="3000" class="g-box g-gradient"></div>
        </div>
        <div class="g-grid">
            <div class="d-flex"> 
                <span data-aos="fade-in" data-aos-duration="2000">Mobile Developer</span>
            </div>  
        </div>
        <div class="g-boxs">
            <div data-aos="fade-right" data-aos-duration="3000" class="g-bol"></div>
            <div data-aos="fade-left" data-aos-duration="3000" class="g-bol"></div>
            <div data-aos="fade-up-right" data-aos-duration="3000" class="g-bol"></div>
            <div data-aos="fade-up-left" data-aos-duration="3000" class="g-bol"></div>
            <div data-aos="fade-down-right" data-aos-duration="3000" class="g-bol g-gradient"></div>
        </div>
    </div>
</section>