<section>
    <div class="g-content">
        <div class="g-title">Design  e<br> Tecnologia</div>
        <div class="g-subtitle">Consultoria, desenvolvimento e infraestrutura para produtos de impacto digital.</div>
    </div>
    <div class="g-gradient">&nbsp;</div>
    <div class="g-h-content">
        <div>
            <img src="/assets/img/notbook.png" alt="">
            <video autoplay muted loop>
                <source src="/assets/video/coding.mp4" type="video/mp4">
            </video>
        </div>
        
    </div>
</section>

