<section>
    <div class="g-grid">
        <div class="g-info">
            <span>Envie um e-mail para</span>
            <span>contato@guilmor.com</span>
        </div>
        <div class="g-form">
            <form [formGroup]="form">
                <div class="g-title__form p">Hey! Tem um projeto?</div>
                <div class="g-subtitle__form p">Qual tipo do seu projeto?</div>
                <div class="p">
                    <mat-chip-listbox aria-label="Fish selection" formControlName="projeto">
                        <mat-chip-option>Plataforma</mat-chip-option>
                        <mat-chip-option>Aplicativo móvel</mat-chip-option>
                        <mat-chip-option>Aplicativo web</mat-chip-option>
                        <mat-chip-option>Site corporativo</mat-chip-option>
                        <mat-chip-option>Outro</mat-chip-option>
                    </mat-chip-listbox>
                    <mat-error *ngIf="submitClicked && form.get('projeto')?.invalid">Por favor, selecione um tipo de projeto.</mat-error>
                </div>
                <div class="g-subtitle__form p">Qual serviços que você precisa?</div>
                <div class="p">
                    <mat-chip-listbox aria-label="Fish selection" formControlName="servico">
                        <mat-chip-option>UX/UI Design</mat-chip-option>
                        <mat-chip-option>Desenvolvimento</mat-chip-option>
                        <mat-chip-option>UI conceito</mat-chip-option>
                        <mat-chip-option>Designer Web</mat-chip-option>
                        <mat-chip-option>Auditoria de UX</mat-chip-option>
                        <mat-chip-option>Design gráfico</mat-chip-option>
                        <mat-chip-option>Estratégia de produto</mat-chip-option>
                        <mat-chip-option>Outro</mat-chip-option>
                    </mat-chip-listbox>
                    <mat-error *ngIf="submitClicked && form.get('servico')?.invalid">Por favor, selecione um tipo de serviço.</mat-error>
                </div>
                <div class="g-inputs">
                    <mat-form-field class="inputs p">
                        <mat-label>Seu nome</mat-label>
                        <input matInput formControlName="name">
                        <mat-error *ngIf="submitClicked && form.get('servico')?.invalid">Por favor, nome é obrigatório.</mat-error>
                    </mat-form-field>
                    <mat-form-field class="inputs p">
                        <mat-label>Seu e-mail</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="submitClicked && form.get('email')?.hasError('required')">Por favor, email é obrigatório.</mat-error>
                        <mat-error *ngIf="submitClicked && form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')">Insira um email válido</mat-error>
                    </mat-form-field>
                </div>
                <div class="p">
                    <mat-form-field class="w100">
                        <mat-label>Conte-nos mais sobre sua ideia</mat-label>
                        <textarea matInput formControlName="ideia"></textarea>
                        <mat-error *ngIf="submitClicked && form.get('ideia')?.hasError('required')">Por favor, fale sobre a sua ideia.</mat-error>
                        <mat-error *ngIf="submitClicked && form.get('ideia')?.hasError('minlength')">Dê mais detalhes, por favor.</mat-error>
                    </mat-form-field>
                </div>
                <mat-progress-bar *ngIf="showProgress == true" mode="query"></mat-progress-bar>
                <button type="submit" (click)="submitForm()" class="g-btn">ENVIAR</button>
            </form>
        </div>
    </div>
</section>