.g-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow: hidden;
    gap: 90px;
    max-width: 80%;
    height: 50vw;
    margin: 0 auto;
    padding-top: 10px;
    background-color: #FFF;
}

.g-info, .g-form{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.g-form{
    justify-content: space-evenly;
}

.g-info span:nth-child(1){
    font-family: "Lato", sans-serif !important;
    color: #7f838d;
    font-weight: bolder;
}

.g-info span:nth-child(2){
    font-family: "Lato", sans-serif !important;
    color: #000;
    font-weight: bolder;
    font-size: 26px;
    padding: 5px 0;
    padding-bottom: 10px;
    border-bottom: 3px solid #7f838d;
    text-align: center;
}

.g-info span:nth-child(2):hover{
    cursor: pointer;
    border-bottom: 3px solid;
    transition: 0.5s;
    border-color: #f24141;
}

.g-title__form{
    font-size: 60px;
    font-family: "Lato", sans-serif !important;
    color: #141515;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.g-subtitle__form{
    font-size: 30px;
    font-family: "Lato", sans-serif !important;
    color: #7f838d;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.g-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141515;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    padding: 20px;
    overflow: hidden;
    border: 4px solid #141515;
    box-shadow: inset 0 0 0 0 #141515;
    transition: all 0.4s ease-in-out;
}

.g-btn:hover{
    cursor: pointer;
    box-shadow: inset 0 -4em 0 0 #fff;
    color: #000;
    border: 4px solid #141515;
}