<section>
    <div class="g-grid">
        <div class="g-info">
            <span>Envie um e-mail para</span>
            <span>contato@guilmor.com</span>
        </div>
        <div class="g-form">
            <div class="g-title__form">Hey! Tem um projeto?</div>
            <div class="g-subtitle__form">Qual tipo do seu projeto?</div>
            <div class="g-subtitle__form">Qual serviços que você precisa?</div>
            <form class="example-form">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>First name</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Long Last Name That Will Be Truncated</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <p>
                  <mat-form-field class="example-full-width">
                    <mat-label>Address</mat-label>
                    <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
                  </mat-form-field>
                </p>
              </form>
            <button class="g-btn">Enviar</button>
        </div>
    </div>
</section>