.g-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    overflow: hidden;
    gap: 90px;
    max-width: 80%;
    height: 30vw;
    margin: 0 auto;
    padding-top: 10px;
    background-color: #FFF;
}