.g-grid {
    height: 100vh;
}

.g-grid-content {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
    overflow: hidden;
    gap: 90px;
    max-width: 1240px;
    margin: 0 auto;
}